* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0,0%,15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0,0%,30%);
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

#display {
    width: 100%;
    background-color: hsl(0,0%,20%);
    color: white;
    font-size: 4rem;
    text-align: right;
    padding: 20px;
    border: none;
}

button:hover {
    background-color: hsl(0,0%,40%);
}

button:active {
    background-color: hsl(0,0%,50%);
}

.operator-btn {
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 75%);
}